<% if @information == "empty" %>
  <div class="information-content  ic-size">
    <div class="content-title ic-size">Information</div>
    <div class="content-detail ec-size">
      <%= msg_flash(flash) %>
      Ooopss Sorry <br /> Cannot find the Information or There is no Information for this time
    </div>
  </div>
<% else %>
  <div class="information-content  ic-size">
    <div class="content-title ic-size">Information</div>
    <div class="content-detail ic-size">
      <div class="content-detail ic-size title">
        <%= @information.name %>
      </div>
      <%= raw @information.content %>
    </div>
  </div>
  <div class="information-menu im-size">
    <div class="information-menu-title im-size" style="margin-bottom:20px;">
      related informations
    </div>
    <div class="information-menu-detail im-size">
      <ul>
        <% @informations.each do |information| %>
          <li><%= link_to information.name, information_path(information.permalink) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>