<div class="field">
  <div class="input-title left"><%= f.label :banner_image, "Image * :" %></div>
  <div class="input-box left"><%= f.file_field :banner_image %></div>
</div>
<div class="field">
  <div class="input-title left">&nbsp;</div>
  <div class="input-box left small-font">
    Input image with size 800x318 (width x height)
  </div>
</div>
<div class="field">
  <div class="input-title left"><%= f.label :destination %></div>
  <div class="input-box left"><%= f.text_field :destination %></div>
</div>
<div class="field">
  <div class="input-title left">&nbsp;</div>
  <div class="input-box left small-font">
    e.g http://www.destination.com/some-url
  </div>
</div>
